/* Add CSS here */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: white;
}

nav {
  /* fixed takes element out of document flow, so the header can stay on top on position: sticky. Else if nav was sticky it would
  be block element and the top header would begin from below this nav on sticky, with top  0 */
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  /* or sticky with max-height else it would not stick and scroll*/
  /* 
  position: sticky
  top: 0;
  max-height: 100vh; 
  */
  background-color: #223745;
  width: 40px;
  padding: 40px;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.sidebar a {
  color: rgb(255, 255, 255, 0.5);
  font-size: small;

  /* work arouond to get text-decoration: overline to work on hover */
  text-decoration: underline #223745;

  writing-mode: vertical-lr;
  transform: rotate(180deg);
}

.sidebar a:hover {
  color: rgb(255, 255, 255);
  text-decoration: overline;
}

header {
  position: sticky;
  top: 0;
  /* ml since the vertical nav bar is fixed (out of the document flow) */
  margin-left: 80px;
  height: 100px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 20px;
  padding-inline: 80px 50px;
}

main {
  margin-left: 80px;
  height: calc(100dvh - 100px);
}

.top-section {
  /* 70% of the container (main) height  */
  /* height: 70%; */

  display: flex;
  justify-content: space-evenly;
  gap: 1%;
  padding-block: 10px 20px;
  padding-inline: 80px 0;
}

.hero {
  width: 30%;
}

.hero h1 {
  font-family: sans-serif;
  font-size: 60px;
  line-height: 70px;
  color: #223745;

  margin-bottom: 40px;
}

.hero button {
  cursor: pointer;
  color: #223745;
  background-color: transparent;
  width: 270px;
  padding: 15px;
  border: 1px solid #223745;
}

.hero button:hover {
  color: white;
  background-color: #223745;
}

.carousel-container {
  text-align: center;
}

.images {
  display: flex;
  max-width: 475px;
  gap: 5%;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.carousel-img {
  max-width: 300;
  scroll-snap-align: start;
}

.img-selection a {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 100px;
  margin-top: 10px;
  background-color: #cecfce;
  margin-inline: auto;
}

.img-selection a:hover {
  border-radius: 0;
  background: #223745;
}

.bottom-section {
  display: flex;
  justify-content: space-evenly;
  gap: 10%;
  padding-block: 10px;
  padding-inline: 80px 0px;
}

blockquote p {
  font-size: small;
  line-height: 20px;
  color: rgb(34, 55, 69, 0.5);
}

blockquote cite {
  line-height: 40px;

  font-weight: 500;
  font-size: small;
  font-style: normal;
}

fieldset {
  background-color: rgb(0, 0, 0, 0.05);
  font-size: small;
  border: 0;
  height: fit-content;
  width: 50%;
}

fieldset legend {
  font-weight: bold;
  font-size: 15px;
  color: #223745;
  margin-left: 15px;
}

fieldset ul {
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  gap: 10%;
  flex-direction: row;
}
