/* Write your CSS code here */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Poppins", sans-serif;
  background-color: #eff2f9;
  position: relative;
  height: 100dvh;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.product-page {
  position: fixed;
  inset: 0;
  width: min(100% - 3rem, 600px);
  height: fit-content;
  max-width: 100vw;
  max-height: 100dvh;
  margin: auto;

  background-color: white;
  box-shadow: 0 0 40px #d8e2f9;
  border-radius: 5px;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product-image {
  margin-inline: auto;
  flex-basis: 200px;
}

.product-details {
  flex-grow: 1;
  flex-basis: 300px;
}

.pill {
  font-size: x-small;
  background-color: black;
  color: white;
  width: fit-content;
  padding: 2px 8px;
  border-radius: 16px;
}

.pricing {
  margin-top: 20px;
}

.offer-validity {
  font-size: small;
  color: rgb(0, 0, 0, 0.5);
}

.btn {
  cursor: pointer;
  margin-top: 15px;
  padding: 8px;
  font-size: small;
  border-radius: 5px;
  border: 0;
}

.btn.btn-primary {
  width: 100%;
  background-color: #4687e8;
  border-bottom: 5px solid #1e58ec;
  color: white;
  transition: background-color 150ms ease-in;
}

.btn.btn-primary:hover {
  background-color: #1e58ec;
}

.stock-remaining {
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.stock-status {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #00dc8e;
}

.stock {
  font-size: small;
}

.options {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.btn.btn-secondary {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  flex-basis: 140px;
  flex-wrap: wrap;
  background-color: transparent;
  border: 1px solid #d3d3d9;
}

.btn.btn-secondary svg.filled {
  fill: black;
}

.modal-container {
  display: none;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
  animation: modal 500ms ease-in, close-modal 500ms ease-out 1.5s;
}

/* .reveal-animation {
  animation: modal 500ms ease-in;
}

.close-animation {
  animation: close-modal 500ms ease-out 1.5s;
} */

.modal {
  background-color: white;
  font-size: small;
  width: max-content;
  padding: 6px;
  border-radius: 5px;
  border: 1px solid #d3d3d9;
}

.modal-text::before {
  content: "\2713";
  width: 20px;
  height: 20px;
  display: inline-block;
  text-align: center;
  margin-right: 5px;
  color: black;
  border: 1px solid black;
  border-radius: 50%;
}

.reveal {
  display: block;
}

@keyframes modal {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 10%;
    opacity: 1;
  }
}

@keyframes close-modal {
  from {
    bottom: 10%;
    opacity: 1;
  }
  to {
    bottom: -100px;
    opacity: 0;
  }
}
@media (width < 500px) {
  .btn.btn-secondary {
    flex-basis: 100%;
  }
}
