*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Poppins", sans-serif;
  background-color: #eef0f5;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.container {
  width: 400px;
  height: 400px;
  text-align: center;
  color: #242c4d;
  padding: 40px;
  padding-top: 0px;
  border-radius: 5px;
  border-top-right-radius: 18px;
  box-shadow: 0 0 60px 0px #c0c2c9;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container svg {
  color: #a1a5ad;
  cursor: pointer;
  align-self: flex-end;
}

.greeting {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.details {
  margin-block: 40px;
}

.title {
  font-weight: 500;
}

.description {
  font-size: 12px;
}

.offer {
  margin-top: 15px;
  font-size: small;
  color: #ad8741;
}

.btn {
  cursor: pointer;
  padding: 8px;
  width: 60%;
  border: 0;
  border-radius: 4px;
  font-size: small;
  font-weight: 500;
}

.btn.btn-primary {
  background-color: #242c4d;
  color: white;
  border: 1px solid transparent;
  box-shadow: 0 2px 5px #242c4d;
  transition: all 150ms ease-in;
}

.btn.btn-primary:hover {
  background-color: transparent;
  border: 1px solid #242c4d;
  color: #242c4d;
  box-shadow: none;
}

.modal-container {
  display: none;
  position: absolute;
  animation: modal 500ms ease-in;
}

.modal {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;

  background-color: white;
  color: #242c4d;
  padding: 20px;
  border: 1px solid #242c4d;
  border-radius: 5px;
}

.modal-text {
  font-size: small;
}

.actions {
  display: flex;
  gap: 10px;
}

.coupon {
  width: 50%;
  margin-inline: auto;
  position: relative;
  display: flex;
}

input[id="coupon"] {
  padding: 3px;
  outline: none;
  color: #242c4d;
  border: 1px solid #242c4d;
  border-radius: 3px;
  width: 100%;
}

.coupon > svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 3px;
  cursor: pointer;
}

.btn-secondary {
  padding: 5px;
  width: fit-content;
  margin-inline: auto;
  background-color: #ad8741;
  color: white;
  box-shadow: 0 0 5px #ad8741;
  transition: all 150ms ease-in;
}

.btn.btn-secondary:hover {
  background-color: #917032;
  box-shadow: none;
}

.copyModal-container {
  display: none;
  position: absolute;
  bottom: 10%;
  animation: show 300ms ease-in, hide 300ms ease-out 1000ms forwards;
}

.copyModal {
  padding: 8px;
  background-color: white;
  border-radius: 5px;
}

.reveal {
  display: block;
}

@keyframes modal {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes show {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 10%;
    opacity: 1;
  }
}

@keyframes hide {
  from {
    bottom: 10%;
    opacity: 1;
  }
  to {
    bottom: -100px;
    opacity: 0;
  }
}
