/* Add CSS here */
*,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: small;
  background-color: #eef0ff;

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: white;
  color: #46466f;
  min-width: 320px;
  padding: 20px;
  border-radius: 15px;

  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 10px #c1c4e4;
}

article {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

article p {
  color: rgb(70, 70, 111, 0.7);
}

.todo-list,
.completed-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

input[type="radio"] {
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;

  border: 1px solid rgb(58, 59, 114, 0.5);

  position: relative;
}

input[type="radio"]:checked::before {
  content: "\2713";
  color: rgb(58, 59, 114, 0.8);

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.todo-list label,
.completed-list label {
  padding: 6px;
  display: flex;
  align-items: center;
}

.add-new {
  cursor: pointer;
  align-self: flex-end;
  padding: 8px 20px;
  border-radius: 5px;
  border: 0;
  background-color: #3a3b72;
  color: white;
}

.next-todo {
  height: 440px;
  width: 100px;
  border-radius: 12px;
  z-index: -1;
  background-color: rgb(255, 255, 255, 0.7);

  position: absolute;
  top: 50%;
  left: 73%;
  transform: translateY(-50%);
}

.model {
  display: none;

  max-width: 350px;
  background-color: #c1c4e4;
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.model.show-animation {
  animation: show-model 500ms ease-in;
}

.model p {
  color: #46466f;
  font-size: medium;
  text-align: left;
}

.model [type="text"] {
  width: 100%;
  outline: none;
  padding: 10px;
  border: 1px solid rgb(70, 70, 111, 0.5);
  border-radius: 5px;
  font-size: large;
  color: rgb(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.model [type="text"]:focus {
  border: 1px solid rgb(70, 70, 111, 1);
}

.btn {
  cursor: pointer;
  width: 100px;
  padding: 10px;
  color: #46466f;
  border: 1px solid #46466f;
  border-radius: 5px;
}

.btn.add {
  background-color: #46466f;
  color: white;
}

.btn.add:hover {
  background-color: #2d2d52;
}

.reveal {
  display: block;
}

.model.close-animation {
  animation: close-model 500ms ease-out forwards;
}

@keyframes show-model {
  from {
    top: -100px;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}

@keyframes close-model {
  from {
    top: 50%;
    opacity: 1;
  }
  to {
    top: 100%;
    opacity: 0;
  }
}
