*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Poppins", sans-serif;
  background-color: #f0f3fc;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.toast-container {
  position: absolute;
  top: 10%;
  right: 2%;
}

.snackbar {
  background-color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  width: 600px;
  margin-bottom: 10px;
  position: relative;
  right: -1000px;
  animation: open 1s linear forwards, close 1s ease-out 6s forwards;
}

.timer.snackbar::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: #cac9de;
  animation: timer 5.5s linear forwards;
}

.rounded {
  border-radius: 100px;
}

.text {
  font-size: small;
}

.text::before {
  content: "\2713";
  margin-right: 5px;
  color: white;
  background-color: #0ac234;
  display: inline-block;
  width: 20px;
  aspect-ratio: 1;
  text-align: center;
  border-radius: 50%;
}

svg {
  cursor: pointer;
}

.reveal {
  display: block;
}

@keyframes open {
  100% {
    right: 2%;
  }
}

@keyframes close {
  100% {
    right: -1000px;
  }
}

@keyframes timer {
  100% {
    width: 0;
  }
}
