*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Poppins", sans-serif;
  background-color: #ef89b1;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul,
li {
  list-style: none;
  padding: 0;
}

.list-container {
  width: 300px;
  height: fit-content;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 60px 60px 30px 10px rgb(0, 0, 0, 0.2);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: space-between;
}

.title {
  font-weight: 400;
}

.lists {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.user-profile {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.user-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.age {
  font-size: small;
  opacity: 0.5;
}

.btn {
  cursor: pointer;
  padding: 10px;
  background-image: linear-gradient(to right, #e76fd1, #ff6ba6);
  color: white;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 4px 8px #ff6ba6;
}
